/*SIDEBAR DIV*/
.sidebar {
    float: left;
    height: 100vh;
}

/*SIDEBAR CONTENT <ul>*/
.sidebar-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 8px;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
    -webkit-transition: width .5s;
    transition-timing-function: ease-in-out;
    transition: width .5s;

}
.sidebar-list:hover{
    width: 20%;
}


/*SIDEBAR CONTENT <li>*/
.menu-item {
    display: block;
    margin: 0;
    padding: 8px 16px;
}

.topic {
    display: block;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

/*SELECTED ACTIVE TOPIC <li>*/
.active {
    display: block;
    padding: 8px 16px;
    color: white;
    background-color: pink;
}

/*ALTERNATIVE BUTTON STYLING TO MAKE IT LOOK LIKE TEXT*/
/* button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
} */